<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %><%# railsのマジック。勝手にUser.paginationと推測し、勝手に_user.html.erbも呼び出す。 %>
</ul>

<%= will_paginate %>